.tile {
    height: 30px;
    width: 30px;
    background-color: black;
    border: 1px solid grey;
}

.default {
    background-color: black;
    border: 1px solid grey;
}
.default:hover {
    background-color: grey;
}

.target {
    background-color: indigo;
    border: 1px solid indigo;
}
.target:hover {
    background-color: indigo;
}

.source {
    background-color: red;
    border: 1px solid red;
}
.source:hover {
    background-color: red;
}

.searched {
    background-color: yellow;
    border: 1px solid yellow;
}
.searched:hover {
    background-color: lightyellow;
}