.tile {
    height: 15px;
    width: 15px;
    background-color: black;
    border: 1px solid grey;
}

.default {
    background-color: black;
    border: 1px solid grey;
}
.default:hover {
    background-color: grey;
}

.target {
    background-color: indigo;
    border: 1px solid indigo;
}
.target:hover {
    background-color: purple;
}

.source {
    background-color: red;
    border: 1px solid red;
}
.source:hover {
    background-color: lightcoral;
}

.searched {
    background-color: #f8df95;
    border: 1px solid #f8df95;
}
.searched:hover {
    background-color: #ffb449;
}

.path {
    background-color: lime;
    border: 1px solid lime;
}
.path:hover {
    background-color: #77dd76;
}

.wall {
    background-color: white;
    border: 1px solid white; 
}
.wall:hover {
    background-color: grey;
}