.grid-container {
    text-align: center;
    vertical-align: middle;
}

.control-button-row {
    text-align: center;
}

.algorithm-select-row {
    text-align: center;
}

.vertical-divider {
    height:20px;
}

.horizontal-divider {
    width:50px;
    height:auto;
    display:inline-block;
}

.control-button .source {
    color: lightcoral;
}
