<div class="vertical-divider"></div>
<div class="algorithm-select-row">
<mat-form-field>
    <mat-label>Select An Algorithm</mat-label>
    <mat-select>
      <mat-option *ngFor="let algorithm of algorithms" [value]="algorithm">
        {{algorithm}}
      </mat-option>
    </mat-select>
</mat-form-field>
</div>
<div class="vertical-divider"></div>
<div class="grid-container">
    <app-grid></app-grid>
</div>
<div class="vertical-divider"></div>
<app-control-buttons></app-control-buttons>
<div class="vertical-divider"></div>
