.grid-container {
    text-align: center;
    vertical-align: middle;
}

.algorithm-select-row {
    text-align: center;
}

.vertical-divider {
    height:20px;
}

.horizontal-divider {
    width:25px;
    height:auto;
    display:inline-block;
}

.menu-options {
    text-align: center;
}

.mat-light {
    background-color: white;
    color: black;
}

.mat-light:hover {
    background-color: black;
    color: white;
}

.mat-dark {
    background-color: white;
    color: black;
}

.mat-dark:hover {
    background-color: black;
    color: white;
}
