.control-button-row {
    text-align: center;
}

.vertical-divider {
    height:20px;
}

.horizontal-divider {
    width:50px;
    height:auto;
    display:inline-block;
}

.mat-source {
    background-color: red;
    color: white;
}

.mat-source:hover {
    background-color: white;
    color: red;
}

.mat-source:active {
    background-color: rgb(255, 130, 130);
    color: white;
}

.mat-target {
    background-color: purple;
    color: white;
}

.mat-target:hover {
    background-color: white;
    color: purple;
}

.mat-target:active {
    background-color: rgb(255, 0, 255);
    color: white;
}

.mat-execute {
    background-color: green;
    color: white;
}

.mat-execute:hover {
    background-color: white;
    color: green;
}

.mat-execute:active {
    background-color: rgb(0, 255, 0);
    color: white;
}

.mat-wall {
    background-color: white;
    color: grey;
}

.mat-wall:hover {
    background-color: grey;
    color: white;
}

.mat-wall:active {
    background-color: black;
    color: white;
}

.mat-delete {
    background-color: red;
    color: white;
}

.mat-delete:hover {
    background-color: white;
    color: red;
}

.mat-delete:active {
    background-color: rgb(255, 130, 130);
    color: white;
}
