.control-button-row {
    text-align: center;
}

.vertical-divider {
    height:20px;
}

.horizontal-divider {
    width:50px;
    height:auto;
    display:inline-block;
}

.mat-source {
    background-color: red;
    color: white;
}

.mat-target {
    background-color: purple;
    color: white;
}

.mat-execute {
    background-color: green;
    color: white;
}

.mat-wall {
    background-color: white;
    color: black;
}

.mat-delete {
    background-color: red;
    color: white;
}
