<div class="control-button-row">
    <button
    (click)="sourceClick()"
    class="control-button source" 
    mat-fab color="warn" 
    aria-label="Source tile selection icon">
        <mat-icon>location_on</mat-icon>
    </button>
    <span class="horizontal-divider"></span>
    <button 
    (click)="targetClick()"
    class="control-button destination" 
    mat-fab color="primary" 
    aria-label="Destination tile selection icon">
        <mat-icon>my_location</mat-icon>
    </button>
    <span class="horizontal-divider"></span>
    <button 
    (click)="wallClick()"
    class="control-button execute" 
    disabled mat-fab color="warn" 
    aria-label="Wall tile selection icon">
        <mat-icon>remove_circle</mat-icon>
    </button>
    <span class="horizontal-divider"></span>
    <button class="control-button execute"
    (click)="executeClick()"
    mat-fab color="accent" 
    aria-label="Execution selection icon">
        <mat-icon>play_circle_filled</mat-icon>
    </button>
</div>
