.control-button-row {
    text-align: center;
}

.vertical-divider {
    height:20px;
}

.horizontal-divider {
    width:50px;
    height:auto;
    display:inline-block;
}

.mat-source {
    background-color: red;
    color: white;
}

.mat-source:hover {
    background-color: white;
    color: red;
}

.mat-target {
    background-color: purple;
    color: white;
}

.mat-target:hover {
    background-color: white;
    color: purple;
}

.mat-execute {
    background-color: green;
    color: white;
}

.mat-execute:hover {
    background-color: white;
    color: green;
}

.mat-wall {
    background-color: white;
    color: grey;
}

.mat-wall:hover {
    background-color: grey;
    color: white;
}

.mat-delete {
    background-color: red;
    color: white;
}

.mat-delete:hover {
    background-color: white;
    color: red;
}
