<span class="theme-buttons">
    <button
    (click)="onLightModeClick()"
    class="theme-button light" 
    mat-mini-fab color="color-theme" 
    aria-label="Light theme selection icon">
        <mat-icon>brightness_low</mat-icon>
    </button>
    <span class="horizontal-divider"></span>
    <button
    (click)="onDarkModeClick()"
    class="theme-button dark" 
    mat-mini-fab color="color-theme" 
    aria-label="Dark theme selection icon">
        <mat-icon>brightness_4</mat-icon>
    </button>
    <div class="horizontal-divider"></div>
</span>